<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloudy.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        This app is using the weatherstack.com for weather data and mapbox.com for geocoding services.
    </div>

    {{>footer}}
</body>
</html>